@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body{
    margin: 0 auto;
    padding: 0;
    font-family: Raleway;
}

h1{
    text-align: center;
}

.cell-sides {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.cell-top-bottom {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.cell-middle {
    border: 2px solid rgb(0, 0, 0);    
}
  
.table {
    margin: 0 auto;
    border-style: hidden;
}

.table td{
    padding: 100px 100px;
}