@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body{
    margin: 0 auto;
    padding: 0;
    font-family: Raleway;
}

h1{
    text-align: center;

}

.cell1 {

    padding: 100px 100px;
}

.cell2 {
    border-collapse: collapse;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 100px 100px;
}

.cell3 {  
    padding: 100px 100px;
}

.cell4 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 100px 100px;
}

.cell5 {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);    
    padding: 100px 100px;
}

.cell6 {
    border-top: 2px solid black;
    border-bottom: 2px solid black;  
    padding: 100px 100px;
}

.cell7 {    
    padding: 100px 100px;
}

.cell8 {
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 100px 100px;
}

.cell9 {
    padding: 100px 100px;
}
  
.table {
    margin: 0 auto;
    border-style: hidden;
}